aws_region         = "ap-south-1"
project_name       = "linux-ec2-lab"
environment        = "dev"

vpc_cidr           = "10.10.0.0/16"
public_subnet_cidr = "10.10.1.0/24"
availability_zone  = "ap-south-1a"

ami_id             = "YOUR_AMI_ID"
instance_type      = "t3.micro"

allowed_ssh_cidr   = "YOUR_PUBLIC_IP/32"
allowed_http_cidr  = ""

root_volume_size   = 10
key_name            = "linux-ec2-lab-key"

user_data          = <<-EOF
#!/bin/bash
dnf update -y
dnf install -y nginx
systemctl enable nginx
systemctl start nginx
EOF
